*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.iml
*.jks
*.keystore
*.log
.DS_Store
.cxx
.cxx/
.externalNativeBuild
.gradle
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.navigation/
bin/
build
build/
captures
captures/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
out/
proguard/
vcs.xml
